@charset "UTF-8";
p {
  white-space: pre-wrap;
}
label{
    display: inline-block;
    text-align: right;
    width: 100px;
}
.register{
    display: inline-block;
    text-align: right;
    width: 160px;
}
.naiyou{
	float: left;
}
body {
background-color: #e5ffff;
color:#000000;
}

a{
	color: rgb(255, 255, 255);
	background-color: rgb(0, 128, 192);
	border-radius: 100vh;
	padding: 0.5em;
}
.memo{
	color: initial;
	background-color: initial;
	border-radius: initial;
	padding: initial;
}